.contactList {
  position: relative;
}

.name {
  font-size: 13px;
  margin: 0px;
  width: 150px;
}

.item {
  display: flex;
  margin-left: 15px;
  list-style: disc;
}
/*
.name::before {
  position: absolute;
  background-color: #000000;
  border-radius: 10px;
  content: "";
  width: 5px;
  height: 5px;
  top: 0;
  left: 0;
}*/

.button {
  font-size: 13px;
  width: 100px;
  height: 20px;
  border: 1px solid gray;
  border-radius: 3px;
}

.number {
  font-size: 13px;
  margin: 0px;
  width: 200px;
}
